body {
}
.container {
    width: 960px;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.main {   
}
.main > div {
    display: inline-block;
    float: left;
    transition: background-color 0.2s ease-out;
    opacity: 1;
}